<div class="container">
    <div class="col-md-8 sticky-top">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openModal()">
            Crear nueva publicación
        </button>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row publicationList" *ngFor="let item of publicationList">
                <h1 class="my-4">{{item.title}}
                    <small>{{item.category}}</small>
                </h1>
                <div class="card mb-4">
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">{{item.title}}</h2>
                        <p class="card-text">{{item.content}}</p>
                        <div class="row float-right">
                            <div class="">
                                <button class="btn btn-outline-success" (click)="like(item.id, item.likes)">
                                    {{item.likes}}
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted align-self-center">
                        {{item.date}}
                        por: <a href="#" (mouseover)="openUser(item.id_user)">{{item.author}}</a>
                    </div>
                    <div class="container comentario" *ngFor="let comment of item.comments">
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-11">
                                <div class="card">
                                    <h6 class="card-title autor_comment" style="margin: 0px">
                                        {{comment.autor_comment}}
                                    </h6>
                                    <div class="card-body">
                                        <p class="card-text" style="margin: 0px">{{comment.comment}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="addComment">
                        <form class="form">
                            <div class="col-12">
                                <mat-form-field class="full-width">
                                    <textarea matInput class="form-control" [formControl]="commentFormControl" id="comment" name="comment" class="md-textarea form-control" rows="2"
                                        placeholder="Escribe tu comentario...">
                                    </textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn-sm  btn-block bg-success text-light" [disabled]="validSend()" (click)="saveComment()">Comentar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="sticky-top">
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card my-4">
                    <h5 class="card-header">Categorias</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card my-4">
                    <h5 class="card-header">El clima</h5>
                    <div class="card-body">
                        <a class="weatherwidget-io" href="https://forecast7.com/es/5d54n73d36/tunja/"
                            data-label_1="TUNJA" data-label_2="WEATHER" data-icons="Climacons Animated" data-days="3"
                            data-theme="pure">CLIMA TUNJA</a>
                        <script>
                            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>