<div class="container">
    <h1><strong>Registrarte</strong></h1>
    <p>Unete a la comunidad</p>
    <hr>

    <form class="form">
        <div class="row">
            <div class="col-6">
                <mat-form-field class="full-width" [floatLabel]="never">
                    <input matInput #name maxlength="30" id="name" placeholder="Nombre" [formControl]="nameFormControl"/>
                    <mat-error *ngIf="nameFormControl.hasError('maxLength') &&
                                  !nameFormControl.hasError('required')">
                      Por favor ingrese un nombre valido
                    </mat-error>
                    <mat-error *ngIf="nameFormControl.hasError('required')">
                      El nombre es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" [floatLabel]="never">
                    <input matInput #lastName maxlength="30" id="lastName" placeholder="Apellido" [formControl]="lastNameFormControl"/>
                    <mat-error *ngIf="
                    lastNameFormControl.hasError('maxLength') &&
                                  !lastNameFormControl.hasError('required')
                                ">
                      Por favor ingrese un apellido valido
                    </mat-error>
                    <mat-error *ngIf="lastNameFormControl.hasError('required')">
                      El apellido es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" [floatLabel]="never">
                    <input matInput #nameUser maxlength="30" id="nameUser" placeholder="Nombre de usuario" [formControl]="userNameFormControl"/>
                    <mat-error *ngIf="
                    userNameFormControl.hasError('maxLength') &&
                                  !userNameFormControl.hasError('required')
                                ">
                      Por favor ingrese un nombre de usuario
                    </mat-error>
                    <mat-error *ngIf="userNameFormControl.hasError('required')">
                        El nombre de usuario es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field [floatLabel]="never">
                    <input matInput #date [matDatepicker]="picker" placeholder="Fecha de nacimiento" [formControl]="dateFormControl">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="!dateFormControl.hasError('required')">
                      Por favor ingrese una fecha valida
                    </mat-error>
                    <mat-error *ngIf="dateFormControl.hasError('required')">
                      la fecha de nacimiento es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="full-width" [floatLabel]="never">
                    <input matInput #email placeholder="Ingrese su correo electrónico"
                    [formControl]="emailFormControl" name="email">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Por favor, ingrese un correo valido
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      El Correo es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="full-width" [floatLabel]="never">
                    <input matInput type="password" #password placeholder="Ingrese su Contraseña"
                        [formControl]="passworFormControl" 
                        name="password">
                    <mat-error
                        *ngIf="passworFormControl.hasError('password') && !passworFormControl.hasError('required')">
                        Por favor ingrese una contraseña valida
                    </mat-error>
                    <mat-error *ngIf="passworFormControl.hasError('required')">
                        La contraseña es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" [floatLabel]="never">
                    <span matPrefix>+57 &nbsp;</span>
                    <input
                      matInput
                      #tel
                      maxlength="10"
                      id="phone"
                      placeholder="Teléfono"
                      [formControl]="phoneFormControl"
                      pattern="[a-zA-Z]*"
                      (keypress)="restrictNumeric($event)"
                      >
                    <mat-hint align="end">{{ tel.value.length }}/10</mat-hint>
                    <mat-error
                    *ngIf="phoneFormControl.hasError('maxLength') && !phoneFormControl.hasError('required')">
                    Por favor ingrese un teléfono valido
                  </mat-error>
                  <mat-error *ngIf="phoneFormControl.hasError('required')">
                    El teléfono es <strong>requerido</strong>
                  </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field>
                    <mat-select
                      placeholder="Genero"
                      [formControl]="selectGenderControl"
                      required
                    >
                      <mat-option>Seleccione su genero</mat-option>
                      <mat-option class="mat-width"
                        *ngFor="let gender of genders"
                        [value]="gender.domainGender"
                      >
                        {{ gender.nameGender }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="selectGenderControl.hasError('required')"
                      >Por favor, ingrese su genero</mat-error
                    >
                    </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field class="full-width" [floatLabel]="never">
                    <input matInput #name maxlength="60" id="name" placeholder="Carrera" [formControl]="carrerFormControl"/>
                    <mat-error *ngIf="!carrerFormControl.hasError('required')">
                      Por favor ingrese una carrera valida
                    </mat-error>
                    <mat-error *ngIf="carrerFormControl.hasError('required')">
                      El nombre de la carrera es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field class="full-width" [floatLabel]="never">
                    <input matInput #name maxlength="30" id="name" placeholder="Dirección" [formControl]="carrerFormControl"/>
                    <mat-error *ngIf="!addresFormControl.hasError('required')">
                      Por favor ingrese una Dirección valida
                    </mat-error>
                    <mat-error *ngIf="addresFormControl.hasError('required')">
                        la dirección es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Intereses</mat-label>
                    <mat-select [formControl]="toppings" multiple>
                      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        
        <div class="col-12 text-center">
            <button  class="btn-lg  bg-success text-light" textmat-raised-button>Registrarte</button>
        </div>
      </form>
    


</div>
